* {
  box-sizing: border-box;
}
/* common ================== */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

.btn {
  --primary-color: #171100;
  display: inline-block;
  height: 50px;
  border-radius: 24.5px;
  font-weight: 600;
  padding: 11px 41px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #fff;
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header============================== */
.header {
  background: #fffcf4;
  padding: 36px 0;
  position: sticky;
  box-shadow: -23px 26px 27px 0px rgba(0, 0, 0, 0.01);
  z-index: 1000;
  top: 0;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav ul a:hover {
  color: #0a9127;
}

.header .nav ul a {
  color: #171100;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.header .nav ul a {
  margin-left: 42px;
  text-decoration: none;
}

.header .nav ul {
  display: flex;
  align-items: center;
}

.header .nav ul .btn {
  color: #fff;
  background-color: var(--primary-color);
  margin-left: 69px;
}

/*hero-wrap===========================  */

.hero-wrap {
  background: #fffcf4;
  height: 800px;
  padding-top: 28px;
}

.hero-content {
  width: 40.17%;
}

.hero-media {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-wrap .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img-info {
  position: absolute;
  right: -21.27%;
  top: 57.37%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  min-width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
}
.hero-img-info .img-hero {
  margin-left: 24px;
}

.hero-img-info .row-info {
  margin-left: 16px;
}

.hero-img-info .hero-left {
  display: flex;
  align-items: center;
}

.hero-img-info.hero-left .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.hero-img-info .hero-left .bold {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667;
}

/* Hero info ========================= */

.hero-info {
  width: 40.17%;
}

.hero-info .title {
  margin-top: 64px;
  color: #171100;
  font-family: Sen;
  font-size: 5.3rem;
  font-weight: 700;
  line-height: 1.172; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero-info .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero-info .row-info .btn {
  background: #ffb900;
  text-decoration: none;
}

.hero-info .row-info {
  margin-top: 38px;
  display: flex;
  align-content: center;
}

.hero-info .row-info .cta {
  margin-top: 5px;
  margin-right: 10px;
}

.hero-info .row-sta {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667; /* 166.667% */
}

.hero-info .row-sta .strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.227; /* 122.727% */
}

.hero-info .row-sta .crs {
  margin-left: 15px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
}

.hero-info .sta {
  margin-top: 48px;
}
.hero-info .row-dest-sta {
  display: flex;
}

.hero-info .row-sta:first-child {
  margin-right: 28px;
}
/* Courses ============================ */

/* courses-Header==================== */
.courses {
  margin-top: 200px;
}

.courses .list .sub-title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
  text-decoration: none;
}

.courses .row .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667; /* 166.667% */
  width: 458px;
}

.courses .header-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .img-header .circle {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffb900;
  border-radius: 50%;
  margin-left: 18px;
}
.courses .img-header {
  display: flex;
}

/* Courses-Body=================== */

.courses .list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.courses .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  border-top: none;
}

.courses .item:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.courses .thumb {
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.courses .body .sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}

.courses .body {
  padding: 16px 22px 22px 22px;
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.courses .row-title {
  display: flex;
  justify-content: space-between;
}
.courses .row-star {
  display: flex;
  margin-right: 19px;
}
.courses .desc-star {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-left: 6px;
}

.courses .body .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857;
}
.courses .body {
  border: 1px solid #e2dfda;
  box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.1);
}

.courses .item .row-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.courses .row-bottom .strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
  display: block;
}

.courses .row-bottom .btn {
  background: #171100;
  width: 120px;
}

.courses .row-bottom .btn:hover {
  background-color: #ffb900;
  transition: background-color 0.3s ease-in;
}

.courses .row-bottom .btn {
  padding: 12px 24px;
}

.courses .row-bottom .btn a {
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.857; /* 185.714% */
}

/* Comment======================== */

.comment {
  margin-top: 200px;
  padding: 96px 135px;
  background: #2e2100;
}

.comment .person {
  display: flex;
  flex-direction: column;
}

.comment .person .image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.comment .row {
  display: flex;
  justify-content: space-between;
}

.comment .person .person-rv {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.416; /* 141.667% */
}

.comment .person .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857; /* 185.714% */
}

.comment .dots .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffb900;
  border-radius: 50%;
}

.comment .dots .dot:first-child {
  background: #0a9127;
}

.comment .eva {
  width: 63.25%;
}

.comment .eva .desc {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.538; /* 153.846% */
  width: 100%;
  margin-left: 30px;
}

/* Hero-section=================== */

.hero-section {
  margin-top: 200px;
  /* background: orange; */
}

.hero-section .image {
  display: flex;
}

.hero-section .per1 {
  width: 36.31%;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.hero-section .per1:first-child {
  margin-right: 30px;
  align-self: flex-end;
}

.hero-section .row-hero {
  display: flex;
  justify-content: space-between;
  height: 438px;
}

.hero-section .row-hero .image {
  width: 48.718%;
}

.row-hero .image {
  width: 36.31578%;
  height: 100%;
}

.hero-section .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40.17%;
}

.hero-section .cta .sub-title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.263; /* 126.316% */
  letter-spacing: -0.76px;
}

.hero-section .cta .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.hero-section .cta .btn {
  margin-top: 32px;
  background: #ffb900;
  text-decoration: none;
  width: 137px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  color: #fff;
}

.hero-section .row-hero2 {
  flex-direction: row-reverse;
}

.hero-section .row-hero2 .per2 {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.hero-section .row-hero2 .cta {
  width: 570px;
}

/* Our blog ======================  */

.ourblog {
  margin-top: 200px;
  padding: 96px 135px;
  background: #fffcf4;
}

.ourblog .sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ourblog .sub-title .title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.263; /* 126.316% */
}

.ourblog .sub-title .desc {
  margin-top: 16px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  width: 448px;
  align-self: center;
}

.ourblog .list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.ourblog .list .items:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ourblog .list .our {
  width: 100%;
  height: 250px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  display: block;
}

.ourblog .list .body {
  padding: 20px 20px 28px 20px;
  background: #fff;
  border-radius: 0 0 16px 16px;
  border: 1px solid #f7f7f7;
  border-top: none;
}

.ourblog .list .dots {
  display: inline-block;
  background: #0a9127;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
}

.ourblog .list .row {
  display: flex;
  align-items: center;
}

.ourblog .list .title {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857; /* 185.714% */
}

.ourblog .list .separate {
  margin-top: 12px;
  height: 1px;
  background: #e2dfda;
  width: 50%;
}

.ourblog .list .desc {
  margin-top: 12px;
  color: #171100;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.ourblog .list .btn {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  text-decoration: none;
  background: #171100;
  width: 118px;
  white-space: nowrap;
}

.ourblog .list .btn:hover {
  background-color: #ffb900;
  transition: background-color 0.3s ease;
}

.ourblog .dot {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.ourblog .dot .dots-our {
  display: block;
  background: #0a9127;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.ourblog .dot .dots-our:first-child {
  opacity: 20%;
}

.ourblog .dot .dots-our:last-child {
  opacity: 20%;
}

/* Footer ================================ */

.footer {
  margin-top: 200px;
  background: #2e2100;
  padding: 96px 135px 28px 135px;
}

.footer .footer-body {
  display: flex;
  justify-content: space-between;
}

.footer .trm {
  width: 22.82%;
}

.footer .trm .desc {
  margin-top: 18px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857; /* 185.714% */
}

.footer .trm .icons {
  margin-top: 18px;
  display: flex;
  gap: 16px;
}

.footer .list-trm {
  display: flex;
  justify-content: space-between;
  width: 70.76%;
  /* gap: 130px; */
}

.footer .list-trm .intro {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer .list-trm .separate {
  height: 1px;
  background: #59554b;
  margin-top: 14px;
  width: 50%;
}

.footer .list-trm ul {
  margin-top: 28px;
}

.footer .list-trm .link {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857; /* 185.714% */
  margin-top: 12px;
  text-decoration: none;
}

.footer .separate-footer {
  height: 1px;
  background: #59554b;
  margin-top: 38px;
}

.footer .sub-title {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.857; /* 185.714% */
  margin-top: 28px;
}
